@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Araç Marka Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Bu sayfa, mevcut araç markalarınızı güncellemenize olanak tanır. Mevcut bir markanın adını veya diğer bilgilerini değiştirebilir, markanın detaylarını güncelleyebilirsiniz. 
                            Markayı güncelledikten sonra, değişiklikler hemen sistemde yansıyacaktır.
                            Marka bilgilerini güncellemek için yalnızca değiştirmek istediğiniz alanları düzenleyin ve "Kaydet" butonuna tıklayarak işlemi tamamlayın.
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="brandId" />
                                <label for="exampleInputName">Marka Adı</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="name" placeholder="Marka Girişi Yapınız">
                            </div>

                            
                            <button type="submit"
                                    class="btn btn-primary btn-sm d-flex align-items-center justify-content-center"
                                    style="border-radius: 12px; padding: 8px 16px; transition: 0.3s;">
                                <i class="fas fa-save me-2"></i> Güncel Araç Markasını Bilgisini Kaydet
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
