@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
  
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana Sayfa -  Banner Alanaı Bilgilendirmesi</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfanın banner bölümündeki bilgileri aşağıdaki alandan düzenleyebilirsiniz. Tema bütünlüğünü korumak adına yalnızca bir veri girişi yapmanızı rica ederiz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Video Url</th>
                                        <th>Video Açıklama</th>
                                        <th>Sil</th>
                                        <th>Güncelle </th>
                                        <th>Videoyu İzle </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    
                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>
                                                <a href="@item.VideoUrl" target="_blank" style="font-size: 24px; color: #17a2b8;">
                                                    <i class="fas fa-video"></i>
                                                </a>
                                            </td>





                                            <td>@item.VideoDescription</td>
                                            <td>
                                                <a href="/Admin/AdminBanner/RemoveBanner/@item.BannerId"
                                                   class="btn btn-danger btn-sm d-flex align-items-center justify-content-center"
                                                   style="border-radius: 12px; padding: 8px 16px; transition: 0.3s;">
                                                    <i class="fas fa-trash-alt me-2"></i> Sil
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/Admin/AdminBanner/UpdateBanner/@item.BannerId"
                                                   class="btn btn-success btn-sm d-flex align-items-center justify-content-center"
                                                   style="border-radius: 12px; padding: 8px 16px; transition: 0.3s;">
                                                    <i class="fas fa-edit me-2"></i> Güncelle
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/Admin/AdminBanner/UpdateBanner/@item.BannerId"
                                                   class="btn btn-dark btn-sm d-flex align-items-center justify-content-center"
                                                   style="border-radius: 12px; padding: 8px 16px; transition: 0.3s;">
                                                    <i class="fas fa-video me-2"></i> Videoyu Aç
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminBanner/CreateBanner/" class="btn btn-primary btn-sm" style="border-radius: 8px; padding: 6px 12px;">
                                <i class="fas fa-plus-circle"></i> Yeni Banner Bilgisi Girişi
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
