@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana Sayfa Blog Kategori Alanaı</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfada hakkımda alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz. Tema bütünlüğünün bozulmamaması adına lütfen sadece 1 tane veri girişi yapınız.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>

                                        <th>#</th>
                                        <th>Blog Kategori Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle </th>
                                        <th>Kategoriye Ait Bloglar </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th>@count</th>
                                            <th>@item.Name</th>
                                            <td><a href="/Admin/AdminCategory/RemoveCategory/@item.CategoryId" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminCategory/UpdateCategory/@item.CategoryId" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/Admin/AdminCategory/UpdateCategory/@item.CategoryId" class="btn btn-outline-success">Kategoriye Ait Bloglar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/Admin/AdminCategory/CreateCategory/" class="btn btn-outline-primary">Yeni Kategori Girişi</a></td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





