@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Kategori Bilgisi Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4"> Bu sayfa üzerinden mevcut blog kategorinizin adını güncelleyebilirsiniz. Kategorinizin adı üzerinde yapacağınız değişiklikler ile içeriklerinizi daha iyi bir şekilde düzenleyebilirsiniz. Yeni kategori adı girip "Kaydet" butonuna tıklayarak işlemi tamamlayabilirsiniz..</p>
                        <form method="post">


                            <div class="form-group">
                                <input type="hidden" asp-for="CategoryId" />

                                <label for="exampleInputName">Kategori İsim</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="İsmi Giriniz">
                            </div>




                            <button type="submit"
                                    class="btn btn-primary btn-sm d-flex align-items-center justify-content-center"
                                    style="border-radius: 12px; padding: 8px 16px; transition: 0.3s;">
                                <i class="fas fa-save me-2"></i> Güncel Kategori Bilgisini Kaydet
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



