@model CreatePricingDto
@{
    ViewData["Title"] = "CreatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}




<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Ödeme Bilgisi Girişi</h4>
                        <p class="card-subtitle mb-4">
                           Ödeme türü girişi
                        </p>
                        <form method="post">

                            <div class="form-group">
                                <label for="exampleInputTitle"> Ödeme Türü </label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Name" placeholder="Ödeme Türünü Giriniz">
                            </div>
                           
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Ödeme Bilgisini Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
