@model UpdatePricingDto
@{
    ViewData["Title"] = "UpdatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}






<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ödeme Bilgisi Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Ödeme ile ilgili bilgilreri aşağıdaki kutucuklardan güncelleyebilirsiniz. Veri girişinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                        <form method="post">


                            <div class="form-group">
                                <input type="hidden" asp-for="PricingId" />

                                <label for="exampleInputTitle"> Ödeme Türü</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Name" placeholder="Ödeme Bilgisini Giriniz">
                            </div>

                           

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Güncel Bannerı Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


